html, body {
  padding: 0;
  margin: 0;
  left: 0;
  height: 92.5%;
  top: 0;
  font-size: 13px;
  color: #5e5e5e;
  font-family: 'Roboto, sans-serif';
}

*, a, button, i, input {
    -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

.container {
  min-height: 92%;
  /* equal to footer height */
}

.footer {
  text-align: center;
}

.inputField {
  text-align: left;
}
.wrapper {
  width: 100%;
	overflow: hidden;
}
